<body>
<header>
  <h1>Ferramax</h1>
  <nav>
    <ul>
      <li><a  routerLink="/">Inicio</a></li>
      <li><a  routerLink="/curd">Crud</a></li>
    </ul>
  </nav>
</header>
<section *ngIf="isAuthorized === true">
  <h2>Confirmación de Pago</h2>
  <p>¡Gracias por tu compra!</p>
  <p>Tu pago ha sido procesado correctamente.</p>
</section>
<section *ngIf="isAuthorized === false">
  <h2>Pago denegado</h2>
  <p>Tu pago ha sido denegado, inténtelo más tarde.</p>
</section>
<section *ngIf="isAuthorized === null">
  <h2>Cargando...</h2>
  <p>Estamos procesando tu transacción, por favor espera un momento.</p>
</section>
    <footer>
      <p>&copy; 2024 Ferramax. Todos los derechos reservados.</p>
    </footer>
  </body>