<body>
    <h1>Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID Producto</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>ver mas detalles</th>
                <th>Editar</th>
                <th>stock</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{ producto.id_producto }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.id_categoria }}</td>
                <td>{{ producto.precio }}</td>
                <td><button (click)="obtenerProductos_stock(producto.id_producto)">Detalle</button></td>
                <td><button>Editar</button></td>
                <td><button (click)="showStockForm(producto.id_producto)">Stock</button></td>
                <td><button (click)="eliminar_producto(producto.id_producto)">Eliminar</button></td>
                <td><button (click)="createTransaction(producto.precio)"> pagar</button></td>
            </tr>
        </tbody>
    </table>
    <form (ngSubmit)="crear_producto()">
        <label>Crear Producto</label>
        <br>
        <label>Nombre</label>
        <br>
        <input type="text" [(ngModel)]="nombre" name="nombre">
        <br>
        <label>Precio</label>
        <br>
        <input type="number" [(ngModel)]="precio" name="precio">
        <br>
        <label>Categoría</label>
        <br>
        <select [(ngModel)]="categoriaSeleccionada" name="categoria">
            <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{categoria.nombre_categoria}}</option>
        </select>
        
        <br>
        <button>crear</button>
    </form>
    <form (ngSubmit)="crear_categoria()">
        <br>
        <label>Crear categoría</label>
        <br>
        <label>Nombre</label>
        <br>
        <input type="text" [(ngModel)]="nombre_categoria" name="nombre_categoria" required>
        <button>Crear</button>
    </form>
    <div *ngIf="productoSeleccionado !== null">
        <form (ngSubmit)="stock()">
            <br>
            <label>Asignar stock al producto con ID: {{productoSeleccionado}}</label>
            <br>
            <label>Cantidad</label>
            <br>
            <input type="number" [(ngModel)]="cantidad" name="cantidad">
            <button>Asignar stock</button>
        </form>
    </div>
        <div *ngFor="let consulta of consultas">
            <h4>ID Producto: {{consulta.id_producto}}</h4>
            <h4>Nombre: {{consulta.nombre}}</h4>
            <h4>Precio: {{consulta.precio}}</h4>
            <h4>Categoría: {{consulta.nombre_categoria}}</h4>
            <h4>Cantidad: {{consulta.cantidad}}</h4>
            </div>
</body>